/* Importamos la fuente Poppins desde Google Fonts con múltiples grosores y estilos */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos globales aplicados a todos los elementos */
* {
  margin: 0; /* Eliminamos márgenes por defecto */
  padding: 0; /* Eliminamos padding por defecto */
  box-sizing: border-box; /* Incluimos el padding y border dentro del ancho y alto total del elemento */
}

/* Estilos para el body */
body {
  background: black; /* Fondo negro */
  color: white; /* Texto blanco */
  font-family: 'poppins'; /* Fuente principal Poppins */
}
